* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,600;0,900;1,100;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Quintessential&display=swap");
/* =============================================NAV  */

.main {
	height: 100%;
}
.nav {
	width: 100%;
	background-color: #323437;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 20px 4px;
}

.nav_logo {
	margin-left: 50px;
	display: flex;
	gap: 10px;
}

.nav_log-img {
	width: 75px;
	align-self: center;
	margin-top: -10px;
}

.nav_link {
	display: flex;
	margin-right: 40px;
	gap: 15px;
}

.nav_link-a:link {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.nav_link-a:visited {
	color: #736f78;
}

.nav_link-a:hover {
	color: green;
}

.nav_link-a:active {
	color: white;
}

.nav_hamburguesa {
	display: none;
	/* width: 50px; */
}

.nav_hamburguesa-img {
	display: none;
}

.nav_responsive-hide {
	display: none;
}

/* =============================================NAV   FINAL*/

/*=================== Section Building  */

.section_building {
	margin-bottom: 20px;
	height: 100vh;
	background: linear-gradient(rgba(25, 24, 24, 0.697), rgba(21, 19, 19, 0.5)),
		url(img/ba1.jpg);

	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: #0f7b2e; */
	position: relative;
}

.section_building-img {
	width: 100%;
	height: 100%;
}

.section_building-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;

	height: 30%;
	/* background-color: red; */
	position: absolute;
	bottom: 25%;
	right: 30px;
	box-shadow: 10px 10px 30px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 30px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 30px -8px rgba(0, 0, 0, 0.75);
}

.section_building-box-buttons {
	display: flex;
	gap: 10px;
	align-self: flex-end;
}
.section_building-box-buttons button {
	border: 1px white solid;
	background-color: transparent;
	padding: 5px 30px;
	color: white;
	border-radius: 5px;
}

.section_building-box-buttons button:hover {
	background-color: green;
	cursor: pointer;
}
.section_building-box-content {
	margin-bottom: 20px;
}
.section_building-box-content p {
	text-align: end;
	margin-right: 5px;
	color: white;
	line-height: 25px;
}

.section_building-box-content h2 {
	margin-bottom: 10px;
	text-align: end;
	margin-right: 5px;
	color: white;
}

/* Section Building  */

/* SECTIO ORADORES ======= */

.section_oradores {
	margin-bottom: 40px;
	height: 100vh;
	width: 100%;
	/* border: 5px solid black; */
	font-size: 13px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.section_oradores-heading {
	margin-top: 10px;
	position: relative;
}

.section_oradores-heading p {
	font-size: 13px;
	color: grey;
	margin-bottom: 10px;
}

.section_oradores-heading h2 {
	font-size: 25px;
	color: black;
	letter-spacing: 2px;
	position: absolute;
	right: -50%;
	top: 50%;
}

.section_oradores-cards {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	/* border: red solid 1px; */
	justify-content: center;
	align-items: center;
	gap: 25px;
	flex-wrap: wrap;
}

.section_oradores-cards-style {
	border: solid rgba(0, 0, 0, 0.127) 1px;
	width: 25%;
	/* height: fit-content; */
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	position: relative;
}

.section_oradores-cards-style:hover {
	cursor: pointer;
	background-color: rgba(172, 162, 162, 0.085);
}

.section_oradores-cards-style:hover::after {
	content: "Click para Leer";
	position: absolute;
	top: 15%;
	right: 0;
	color: white;
	background-color: rgba(0, 128, 0, 0.745);
	padding: 5% 10%;
	border-radius: 7%;
}

.section_oradores-cards-style img {
	width: 100%;
	height: 60%;
	margin-bottom: 5px;
}

.section_oradores-marks {
	display: flex;
	gap: 10px;
	margin-left: 5px;
	margin-bottom: 3px;
}

.section_oradores-marks .p1,
.p2,
.p3,
.p4 {
	border-radius: 5px;
	padding: 3px 5px;
	background-color: #efc033;
	color: black;
	font-weight: bold;
}

.section_oradores-marks .p2 {
	background-color: #3f9daf;
	color: white;
}

.section_oradores-marks .p3 {
	background-color: #36393979;
	color: white;
}

.section_oradores-marks .p4 {
	background-color: rgba(255, 0, 0, 0.662);
	color: white;
}

.section_oradores-cards-style h3 {
	margin-bottom: 5px;
	margin-left: 5px;
}

.section_oradores-cards-style p {
	padding: 5px;
	height: fit-content;
}

/* ============SECTION PLAYA */

.section_playa {
	height: 80vh;
	width: 100%;
}

.section_playa {
	display: flex;
}

.section_playa-img {
	width: 50%;
}

.section_playa-img img {
	width: 100%;
	height: 100%;
}

.section_playa-texto {
	width: 50%;
	padding-left: 15px;
	color: white;
	background-color: #353a40;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.section_playa-texto h3 {
	padding-top: 10px;
}
.section_playa button {
	background-color: transparent;
	color: white;
	border: solid white 1px;
	padding: 5px 15px;
	border-radius: 5px;
	width: 150px;
}

.section_playa button:hover {
	background-color: green;
	cursor: pointer;
}

/* SECTION FORMULARIO  */

.section_formulario {
	height: 50vh;
	width: 100%;
	border: 5px solid black;
}

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

/* ================================MEDIA QUERIES  */

@media screen and (max-width: 900px) {
	/* =============================================NAV  */
	.nav_link {
		display: none;
		margin-right: 0;
		padding-right: 0;
	}

	.nav_hamburguesa {
		display: block;
	}

	.nav_hamburguesa-img {
		display: block;
		width: 50px;
		margin-right: 50px;
		cursor: pointer;
	}

	.nav_responsive-active {
		display: flex;
		flex-direction: column;
	}

	.nav_responsive {
		height: 100%;
		width: 100%;
		/* border: 2px solid #353a40; */
		/* padding: 10px; */
		/* background: linear-gradient(180deg, #c7a118fc, #cece0fd3); */
		background-color: #353a40;
		text-align: center;
		padding: 0 10px;
	}

	.nav_responsive a {
		border: 1px solid white;
		border-radius: 5px;
		padding: 10px 0;
		margin-bottom: 5px;
	}

	.nav_responsive a:link:hover {
		background-color: #0f7b2e;
	}

	.nav_link-a:visited {
		color: #eeecef;
	}

	.nav_link-a:active {
		color: #0f7b2e;
	}

	.nav_link-a:hover {
		color: white;
	}

	.nav_link_hide {
		display: none;
	}
}

/* cards */

@media screen and (max-width: 700px) {
	.section_oradores {
		height: 100%;
	}
	.section_oradores-cards {
		flex-direction: column;
		margin-bottom: 20px;
		gap: 50px;
	}

	.section_oradores-cards-style {
		width: 55%;
		height: 60%;
	}
	/* SECTION PLAYA */

	.section_playa {
	height: 100vh;
		display: flex;
		flex-direction: column-reverse;

		/* border: solid 3px black; */
		padding: 0;
		position: relative;
		position: relative;
		margin-bottom: 50px;
	}
	.section_playa-img {
		width: 100%;
	}

	.section_playa-img img {

		width: 70%;
		height: 45%;
		margin: 0 15%;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 10px;
		box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
	}
	
	
	.section_playa-img img:hover{
		
		box-shadow: -10px 11px 21px 0px rgba(0,0,0,0.62);
		-webkit-box-shadow: -10px 11px 21px 0px rgba(0,0,0,0.62);
		-moz-box-shadow: -10px 11px 21px 0px rgba(0,0,0,0.62);
	}

	.section_playa-texto {
		width: 100%;
		height: fit-content;
		font-size: 13px;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		gap: 15px;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px 10px;
		padding-bottom: 20px;
		background-color: #353a40b7;
	}

	.section_playa-texto h3 {
		align-self: flex-start;
	}
}

@media screen and (min-width: 900px) {
	.nav_responsive {
		display: none;
	}
}
/* =============================================NAV   FINAL*/

/* =============================================SECTION  BUILDING RESPONSIVE PHONE*/
@media screen and (max-width: 600px) {
	.section_building-box {
		width: 90%;
		height: 40%;
		position: absolute;
		bottom: 20%;
		right: 15px;
	}

	.section_building-box-buttons {
		display: flex;
		gap: 10px;
		align-self: center;
	}

	.section_building-box-content h2 {
		margin-bottom: 30px;
		text-align: center;
		margin-right: 5px;
		color: white;
	}
}
