* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =============================================NAV  */


.nav {
     width: 100%;
	background-color: #353a40;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 20px 4px;
}

.nav_logo {
	margin-left: 50px;
	display: flex;
	gap: 10px;

}

.nav_log-img{
width: 75px;
align-self: center;
margin-top: -10px;

}



.nav_link {
	display: flex;
	margin-right: 50px;
	gap: 15px;
}

.nav_link-a:link {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

.nav_link-a:visited {
	 color: #736F78;
}

.nav_link-a:hover {
	color: #185c2b;
}

.nav_link-a:active{
	color: #0f7b2e;
}


.nav_hamburguesa-img{
display: none;
width: 50px;
}

.nav_responsive-hide{
	display: none;
	}


/* ================================MEDIA QUERIES  */


@media screen and  (max-width: 900px) { 
.nav_link{
display: none;
margin-right: 0;
}

.nav_hamburguesa-img{
     display: block;
     width: 50px;
     margin-right: 50px;
     cursor: pointer;
     }
     

.nav_responsive-active{
     display: flex;
     flex-direction: column;
}
     
     
.nav_responsive{
height: 100%;
width: 100%;
border: 2px solid #353a40;;
/* padding: 10px; */
background-color:#0f7b2e9c;
text-align: center;

}

.nav_responsive a{
border: 1px solid white;
border-radius: 5px;

}

.nav_link-a:link{
color: white;
font-size: 20px;
}

.nav_link-a:active{
color: #0f7b2e;
}

.nav_link-a:hover{
     color: white;
     }


.nav_link_hide{
		display: none;
		}




}

@media screen and  (min-width: 900px) { 
	

	
	.nav_responsive{
	display: none;
	}
	
}
